<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<style>
      th,td,tr {
        text-align: center;
        height:15px;
      }

    </style>
</head>
<body>
<div class="container" style="font-size:14px" align="center">
<br>
<h5 style="font-weight:600">등급설정</h5>
<hr><br>
<table class="table table-bordered">
<tr>
<th scope="row" class="table-active" width="150px">아이디</th>
<td th:text="${memberDto.mem_id}"></td>
</tr>
<tr>
<th scope="row" class="table-active" width="150px">등급</th>
<td th:text="${memberDto.mem_role}"></td>
</tr>
</table><br>
<input th:if="${memberDto.mem_role}!='ADMIN'" type="button" class="btn btn-primary" style="width:120px;" value="관리자 임명" onclick="getAdmin();">
<input th:if="${memberDto.mem_role}=='ADMIN'" type="button" class="btn btn-primary" style="width:120px;" value="관리자 해임" onclick="depriveAdmin();">
</div>
<script th:inline="javascript">
var mem_role = [[${memberDto.mem_role}]];
var a = $('.roleName');
for(var i=0; i<a.length; i++) {
	if(a.eq(i).html() == mem_role){
		a.eq(i).prop("selected",true);
		break;
	}
}

function getAdmin() {
	var mem_idx = [[${memberDto.mem_idx}]];
	if(confirm('수정하시겠습니까?')) {		
		$.ajax({
			url: "/admin/member/role/getAdmin",
			type: "POST",
			data: {'mem_idx':mem_idx},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('수정을 완료하였습니다.');
		    	window.opener.location.reload();
		    	window.close();
		    }
		});
	}
}
function depriveAdmin() {
	var mem_idx = [[${memberDto.mem_idx}]];
	if(confirm('수정하시겠습니까?')) {		
		$.ajax({
			url: "/admin/member/role/depriveAdmin",
			type: "POST",
			data: {'mem_idx':mem_idx},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('수정을 완료하였습니다.');
		    	window.opener.location.reload();
		    	window.close();
		    }
		});
	}
}
</script>
</body>
</html>