<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<style>
      th,td,tr {
        text-align: center;
        height:15px;
      }

    </style>
</head>
<body>
<div align="center">
<br><h3>등급 설정</h3><hr>
<table class="table table-bordered">
<tr>
<th scope="row" class="table-active" width="150px">아이디</th>
<td th:text="${memberDto.mem_id}"></td>
</tr>
<tr>
<th scope="row" class="table-active" width="150px">등급</th>
<td>
	<select class="custom-select" name="mem_role"id="mem_role" style="width:150px">
		<th:block th:each="roleDto:${roleList}">
       <option class="roleName"th:value="${roleDto.role_idx}" th:text="${roleDto.role_name}"></option>
       </th:block>
   	</select> 
</td>
</tr>
</table><br>
<input type="button" class="btn btn-primary" style="width:100px" value="수정" onclick="modifyBtn();">
</div>
<script th:inline="javascript">
var mem_role = [[${memberDto.mem_role}]];
var a = $('.roleName');
for(var i=0; i<a.length; i++) {
	if(a.eq(i).html() == mem_role){
		a.eq(i).prop("selected",true);
		break;
	}
}

function modifyBtn() {
	var mem_idx = [[${memberDto.mem_idx}]];
	var mem_role = $('#mem_role option:selected').val();
	if(confirm('수정하시겠습니까?')) {		
		$.ajax({
			url: "/admin/member/role/modify",
			type: "POST",
			data: {'mem_idx':mem_idx, 'mem_role':mem_role},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('수정을 완료하였습니다.');
		    	window.opener.location.reload();
		    	window.close();
		    }
		});
	}
}
</script>
</body>
</html>