<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<style>
      th,td,tr {
        text-align: center;
        height:15px;
      }

    </style>
</head>
<body>
<br>
<div align="center">
<h3 align="center">재고관리</h3><hr>
사이즈  <input type="text"  id="size"style="width:100px;float:center">
재고  <input type="text"  id="count" style="width:100px">&nbsp&nbsp
<button type="button"class="btn btn-sm btn-primary" onclick="addStock()">추가</button>
<hr>
<div id="place">
<table class="table table-bordered">
	<thead class="thead-light">
	<tr>
	<th>사이즈</th>
	<th>재고</th>
	<th></th>
	</tr>
	<th:block th:each="stock:${stockList}">
	<tr>
	<td><span th:text="${stock.size}"></span></td>
	<td><input type="text"  id="stock" style="width:100px;float:center;" th:value="${stock.count}"></td>
	<td><input type="button" id="modifyBtn"class="btn btn-sm" value="수정" onclick="modifyStock(this)">
		<input type="button" id="deleteBtn"class="btn btn-sm" value="삭제" onclick="deleteStock(this)">
	</td>
	</tr>
	</th:block>
	</thead>
</table>
</div>
</div><br>
<script>
function addStock(){
	if(confirm('추가하시겠습니까?')) {
		var size = $("#size").val();
		var count = $("#count").val();
		var product_idx = [[${product_idx}]];
		$.ajax({
			url: "/admin/product/stock/add",
			type: "POST",
			data: {"product_idx":product_idx, "size":size, "count":count},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('재고 등록 완료');
		        location.reload();
		    }
		});
	}
}

function modifyStock(modifyBtn) {
	
	var size = modifyBtn.parentNode.parentNode.childNodes[1].childNodes[0].innerHTML;
	var count = modifyBtn.parentNode.parentNode.childNodes[3].childNodes[0].value;
	var product_idx = [[${product_idx}]];
	if(confirm('수정하시겠습니까?')){
		$.ajax({
			url: "/admin/product/stock/modify",
			type: "POST",
			data: {"product_idx":product_idx, "size":size, "count":count},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('재고 수정 완료');
		        location.reload();
		    }
		});
	}
	
}

function deleteStock(deleteBtn){
	var size = deleteBtn.parentNode.parentNode.childNodes[1].childNodes[0].innerHTML;
	var product_idx = [[${product_idx}]];
	if(confirm('삭제하시겠습니까?')){
		$.ajax({
			url: "/admin/product/stock/delete",
			type: "POST",
			data: {"product_idx":product_idx, "size":size},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('재고 삭제 완료');
		        location.reload();
		    }
		});
	}
}

</script>
</body>
</html>