<!DOCTYPE html>
<!-- 레이아웃 참고한 소스 -->
<!-- view-source:https://getbootstrap.com/docs/4.1/examples/dashboard/# -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<style>
  th,td {
    text-align: center;
    vertical-align:middle;
  }
  .left{
  	text-align: left;
  }

</style>
</head>
<body>
<div class="container">
<th:block th:include="./home.html::header"></th:block>
<br>
 <div class="container-fluid">
      <div class="row">
      <th:block th:fragment="side">
        <nav class="col-md-2 d-none d-md-block sidebar" >
          <div class="sidebar-sticky">
            <ul class="nav flex-column" style="font-size:14px;">
              <li class="nav-item"><br><br>
                <span class="nav-link " href="#">
                  <font color="black" style="font-weight:700;font-size:18px;"><span data-feather="file"></span>
                	  나의 쇼핑 활동</font><span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/order/list">
                  <font color="gray">주문/배송조회</font><span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  <font color="gray">구매후기</font><span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/cart/list">
                  <font color="gray">장바구니</font><span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  <font color="gray">상품문의</font><span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
              <br><br>
                <span class="nav-link " href="#">
                  <font color="black" style="font-weight:700;font-size:18px;"><span data-feather="file"></span>
                	  회원정보</font><span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  <font color="gray">회원정보수정</font><span class="sr-only">(current)</span>
                </a>             
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  <font color="gray">회원상태</font><span class="sr-only">(current)</span>
                </a>             
              </li>
             </ul>
            </div>
           <br><br><br>
          </nav>
      	</th:block>
      	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
     	 <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
       	 <h3 style="font-weight:600">주문/배송 조회</h3><br>
		 </div>
		<div style="min-height:200px">
		 <select id="selectYear" onchange="changeYear(this);"></select>&nbsp&nbsp
		 <span style="color:grey">* 현재 년도로부터 5년간의 내역을 조회할 수 있습니다.</span>
		<table class="table" style="font-size:13px">
		<thead class="thead-light">
        <tr>       
        <th scope="col" colspan="2">상품정보</th>
        <th scope="col">주문번호</th>
        <th scope="col">주문일자</th>
        <th scope="col">수량</th>
        <th scope="col">주문금액</th>
        <th scope="col">주문상태</th>
        </tr>
        </thead>
		<th:block th:each="orderDto:${orderList}">
		<tr>
		<td style="vertical-align:middle;"><a th:href="'/product/detail?product_idx='+${orderDto.product_idx}"><img th:src="${orderDto.product_image}" style="width:100px;height:80px"></a></td>
		<td style="vertical-align:middle;text-align:left">
        	<span th:text="'['+${orderDto.product_brand}+']'"></span>&nbsp
        	<span th:text=${orderDto.product_name} ></span><br>
        	<span style="color:gray;font-weight:300">사이즈: </span>
        	<span style="color:gray;font-weight:300" th:text="${orderDto.size}" ></span>
        </td>
        <td style="vertical-align:middle;" th:text="${orderDto.order_code}" th:id="'code'+${orderDtoStat.count}"></td>
        <td style="vertical-align:middle;" th:text="${#calendars.format(orderDto.order_date,'yyyy-MM-dd')}"></td>
		<td style="vertical-align:middle;" th:text="${orderDto.count}"></td>
		<td style="vertical-align:middle;" th:text="${#numbers.formatInteger(orderDto.pay, 0, 'COMMA')}+'원'"></td>
		<td th:if="${orderDto.order_state} == '배송준비중'"style="vertical-align:middle;">배송준비중<br><button th:onclick="'orderCancel('+${orderDtoStat.count}+')'">구매취소</button></td>
		<td th:if="${orderDto.order_state} == '배송중'"style="vertical-align:middle;">배송중<br><button>배송조회</button></td>
		<td th:if="${orderDto.order_state} == '배송완료'"style="vertical-align:middle;">배송완료<br><button th:onclick="'updateState('+${orderDtoStat.count}+',this)'">구매확정</button></td>
		<td th:if="${orderDto.order_state} == '구매확정'"style="vertical-align:middle;">구매확정<br><button>후기작성</button></td>
		</tr>
		</th:block>
		</table>
		<hr>
		</div>
		<span style="font-size:14px">
		 <p style="color:grey">* 구매취소는 배송준비중일 때만 가능합니다.</p>
		 <p style="color:grey">* 교환/환불 문의는 문의게시판을 이용해주세요.</p>
		 <p style="color:grey">* 구매확정 이후에 후기작성을 할 수 있습니다.</p>
		 </span>
        </main>
        </div>
        </div>
        
        <hr>

<th:block th:include="./home.html::footer"></th:block>
<br>
</div>
<script th:inline="javascript">
makeSelectTag();
function makeSelectTag(){
	var year = new Date().getFullYear();
	for(var i=0; i<5; i++){
		var option = document.createElement("option");
		if(year==[[${year}]]) 
			option.selected = true;
		option.setAttribute("value",year);
		option.innerHTML = year+'년';
		document.getElementById("selectYear").appendChild(option);
		year--;
	}
}
function changeYear(obj){
	var year = obj.options[obj.selectedIndex].value;
	location.href = "/order/list?year="+year;
}
function orderCancel(num){
	var code = document.getElementById('code'+num).innerHTML;
	if(confirm('구매를 취소하시겠습니까?')) {		
		$.ajax({
			url: "/order/cancel",
			type: "POST",
			data: {'order_code':code},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert(data);
		    	document.location.reload(true);
		    }
		});
	}
}
function updateState(num, obj){
	var order_code = document.getElementById('code'+num).innerHTML;
	
	if(confirm('구매를 확정하시겠습니까? 구매확정 이후에는 교환/환불이 불가능합니다.')){
		$.ajax({
			url: "/order/updateState",
			type: "POST",
			data: {"order_code":order_code},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('구매를 확정하였습니다. 이제 후기를 작성하실 수 있습니다.')
		    	location.reload();
		    }
		});
	}
	
}
</script>    

</body>
</html>