<!DOCTYPE html>
<!-- 레이아웃 참고한 소스 -->
<!-- view-source:https://getbootstrap.com/docs/4.1/examples/dashboard/# -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
  th,td {
    text-align: center;
  }
  .left{
  	text-align: left;
  }
</style>
</head>
<body>
<div class="container">
<th:block th:include="./home.html::header"></th:block>
<br><br>
<h4>
<span style="color:grey">상품선택   > </span>
<span style="font-weight:600">주문확인   > </span>
<span style="color:grey">주문완료</span>
</h4>
<hr  style="height:3px"><br><br>
<div style="min-height:200px">
<h4 style="font-weight:600">상품 정보</h4>
<table class="table" style="font-size:14px">
<thead class="thead-light">
        <tr>
        <th scope="col" style="width:100px;">번호</th>
        <th scope="col" style="width:200px"></th>
        <th scope="col" style="width:200px;">상품정보</th>
        <th scope="col">수량</th>
        <th scope="col">상품금액</th>
        </tr>
        </thead>
       <th:block th:each="cartDto:${orderList}">
       <tr>
        <td style="vertical-align:middle;"th:text=${cartDtoStat.count}></td>
        <td style="vertical-align:middle;"><a th:href="'/product/detail?product_idx='+${cartDto.cart_product}"><img th:src="${cartDto.product_image}" style="width:100px;height:80px"></a></td>
        <td style="vertical-align:middle;text-align:left">
        	<span th:text="'['+${cartDto.product_brand}+']'"></span>&nbsp
        	<span th:text=${cartDto.product_name} th:value=${cartDto.cart_product} class="productList"></span><br>
        	<span style="color:gray;font-weight:300">사이즈: </span>
        	<span style="color:gray;font-weight:300" th:text="${cartDto.cart_size}" class="sizeList"></span>
        </td>
        <td style="vertical-align:middle;">
        	&nbsp<span th:text=${cartDto.cart_count} class="countList"></span>개&nbsp
        </td>
        <td style="vertical-align:middle;" class="price" th:value="${cartDto.product_price}" th:text="${#numbers.formatInteger(cartDto.product_price*cartDto.cart_count, 0, 'COMMA')}+'원'"></td>
        </tr>
        </th:block>
</table>
<hr><br><br>
<h4 style="font-weight:600">배송지 정보</h4>
<table class="table" style="font-size:14px">
		<tbody>
		<tr>
		<th scope="row" class="table-active">배송지 선택&nbsp</th>
		<td colspan="2" class="left">
			<input type="radio" name="dest" onclick="setDest()" checked>기존 배송지&nbsp&nbsp&nbsp&nbsp
			<input type="radio" name="dest" onclick="newDest()">새로운 배송지
		</td>
		</tr>
		<tr>
		<th scope="row" class="table-active">이름&nbsp</th>
		<td colspan="2" class="left"><input type="text" class="left" id="name" name=mem_name style="width:160px" ></td>
		</tr>
		<tr>
		<th scope="row" class="table-active">연락처&nbsp</th>
		<td colspan="2" class="left"><input type="text" placeholder="예시) 01047156017" id="phone" name="mem_phone" style="width:230px"></td>
		</tr>
		<tr>
		<th scope="row" class="table-active">주소&nbsp</th>
		<td class="left">
			<input type="text"  id="sample6_postcode" placeholder="우편번호" readonly>&nbsp<input type="button" onclick="sample6_execDaumPostcode()" value="주소찾기"><br>
			<input type="text"  style="width:300px;"id="sample6_address" name="mem_addr1" placeholder="주소" readonly>
			<input type="text"  id="sample6_detailAddress" name="mem_addr2" placeholder="상세주소">		
		</td>
		</tr>
		<tr><td></td><td></td></tr>
		</tbody>
</table>
<br><hr><br>
</div>
<div class="row container" style="padding:30px">
	<div class="col-5">
	<h1 style="font-weight:700">전체합계</h1>
	</div>
	<div class="col-7" style="font-size:20px">
	<span style="float:left">상품수</span>
	<span style="float:right" th:text="${#arrays.length(orderList)}+'개'" id="count"></span><br><hr>
	<span style="float:left">상품금액</span>
	<span style="float:right" id="total"></span><br><hr>
	<span style="float:left">할인금액</span>
	<span style="float:right">0원</span><br><hr>
	<span style="float:left">배송비</span>
	<span style="float:right">0원</span><br><hr>
	<span style="float:left;font-size:24px;font-weight:600">총 주문금액</span>
	<span style="float:right;font-size:24px;color:red;font-weight:600" id="pay"></span><br>
	</div>
</div>
<hr><br>
<div align="center">
<button type="button" class="btn btn-danger btn-lg" style="font-size:24px;width:260px;height:70px" onclick="order()">주문하기</button>
</div>
<br><br><hr>
<th:block th:include="./home.html::footer"></th:block>
<br>
<script th:inline="javascript">
setTotal();
setPay();
setDest();
function sample6_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }
            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                console.log(data);
                // 조합된 참고항목을 해당 필드에 넣는다.
                //document.getElementById("sample6_extraAddress").value = extraAddr;
            
            } else {
               // document.getElementById("sample6_extraAddress").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('sample6_postcode').value = data.zonecode;
            document.getElementById("sample6_address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("sample6_detailAddress").focus();
        }
    }).open();
}
function setTotal() {
	var sum = 0;
	var priceList = document.getElementsByClassName('price');
	var countList = document.getElementsByClassName('countList');
	for(var i=0; i<priceList.length ; i++){
		sum = sum + (Number(priceList[i].getAttribute('value')) * Number(countList[i].innerHTML));
	}
	document.getElementById('total').innerHTML = numberFormat(sum)+'원';
}
function setPay() {
	var sum = 0;
	var priceList = document.getElementsByClassName('price');
	var countList = document.getElementsByClassName('countList');
	for(var i=0; i<priceList.length ; i++){
		sum = sum + (Number(priceList[i].getAttribute('value')) * Number(countList[i].innerHTML));
	}
	document.getElementById('pay').innerHTML = numberFormat(sum)+'원';
}
//3자리마다 점찍어주는 함수
function numberFormat(inputNumber) {
	   return inputNumber.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
function setDest(){
	$.ajax({
		url: "/order/orderForm/setDest",
		type: "POST",
		dataType: "json",
		error:function(request,status,error){
	        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
	       },
	    success : function(data) {
	    	document.getElementById('name').value = data.mem_name;
	    	document.getElementById('phone').value = data.mem_phone;
	    	document.getElementById('sample6_postcode').value = data.mem_postcode;
            document.getElementById("sample6_address").value = data.mem_addr1;
            document.getElementById("sample6_detailAddress").value = data.mem_addr2;
	    }
	});
}
function newDest(){
	document.getElementById('name').value = "";
	document.getElementById('phone').value = "";
	document.getElementById('sample6_postcode').value = "";
    document.getElementById("sample6_address").value = "";
    document.getElementById("sample6_detailAddress").value = "";
}
function order(){
	var name = document.getElementById('name').value;
	var phone = document.getElementById('phone').value;
	var postcode = document.getElementById('sample6_postcode').value;
    var addr1 = document.getElementById("sample6_address").value;
    var addr2 = document.getElementById("sample6_detailAddress").value;
    if(name==""){
		alert('이름을 확인해주세요.');
		return;
	}
    if(!phoneCheck(phone)){
		alert('연락처를 확인해주세요');
		return;
	}
    if(postcode=='' || addr1=='' || addr2==''){
    	alert('주소를 확인해주세요');
    	return;
    }
    if(confirm('주문을 진행하시겠습니까?')) {
		var form = document.createElement("form");
		form.setAttribute("charset","UTF-8");
		form.setAttribute("method","Post");
		form.setAttribute("action","/order/orderProcess");
		var productList = document.getElementsByClassName('productList');
		var sizeList = document.getElementsByClassName('sizeList');
		var countList = document.getElementsByClassName('countList');
		for(var i=0; i<productList.length; i++) {
			var product = productList[i].getAttribute('value');
			var size = sizeList[i].innerHTML;
			var count = countList[i].innerHTML;
			var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "size");
            hiddenField.setAttribute("value", size);
            form.appendChild(hiddenField);
            hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "count");
            hiddenField.setAttribute("value", count);
            form.appendChild(hiddenField);
            hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", "product");
            hiddenField.setAttribute("value", product);
            form.appendChild(hiddenField);
		}
		var name = document.getElementById('name').value;
		var phone = document.getElementById('phone').value;
		var postcode = document.getElementById('sample6_postcode').value;
	    var addr1 = document.getElementById("sample6_address").value;
	    var addr2 = document.getElementById("sample6_detailAddress").value;
	    var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "mem_name");
        hiddenField.setAttribute("value", name);
        form.appendChild(hiddenField);
        hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "mem_phone");
        hiddenField.setAttribute("value", phone);
        form.appendChild(hiddenField);
        hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "mem_postcode");
        hiddenField.setAttribute("value", postcode);
        form.appendChild(hiddenField);
        hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "mem_addr1");
        hiddenField.setAttribute("value", addr1);
        form.appendChild(hiddenField);
        hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "mem_addr2");
        hiddenField.setAttribute("value", addr2);
        form.appendChild(hiddenField);
        document.body.appendChild(form);
		form.submit();
    }
}
function phoneCheck(phone){
	var re = /^[0-9]{11}$/;
	if(!re.test(phone)){
		return false;
	}else {
		return true;
	}
}
</script>
</div>
</body>
</html>