<!DOCTYPE html>
<!-- 레이아웃 참고한 소스 -->
<!-- view-source:https://getbootstrap.com/docs/4.1/examples/dashboard/# -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<link rel="stylesheet" href="/static/css/rating.css">
<style>
.checked{
	color:orange;
}
.swiper-container {
	min-height:28em;
}
.swiper-slide {
}
.swiper-slide img {
	max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
}

.card:hover{
	border:1px solid #424242;
}
.card p {
	overflow: hidden;
  	text-overflow: ellipsis;
	white-space: nowrap;
}
</style>
</head>

<body>
	<div class="container">
	<div th:fragment="header">
		<div class="shop-menu clearfix pull-right" th:object="${session.memberDto}" style="font-size:12px;color:grey;margin:5px;">
			<span sec:authorize="isAuthenticated()"><a href="/order/list" class="text-dark"><i class="fa text-primary" th:text="${#authentication.principal.username}+'님'"></i></a>&nbsp; <font color="grey">|</font></span>
			<span sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin" style="color:#777777;">ADMIN</a>&nbsp; <font color="grey">|</font></span>
			<span sec:authorize="isAuthenticated()"><a  href="/cart/list" style="color:#777777;">장바구니</a>&nbsp; <font color="grey">|</font></span> 
			<a sec:authorize="!isAuthenticated()" href="/member/login"style="color:#777777;">로그인</a>
			<a sec:authorize="isAuthenticated()" href="/member/logout"style="color:#777777;">로그아웃</a>			
		</div>
		<br><br>
		
			<h2 class="text-danger text-center"><a href="/" style="text-decoration:none"><span class="text-danger" style="font-family: 'Frijole', cursive;">Shoes Factory</span></a></h2><br>
		
		<nav class="navbar navbar-expand-sm navbar-light bg-light navbar-inverse">
			<div class="container-fluid" id="navbarNavAltMarkup">

				<div class="navbar-nav"><pre></pre>
					<div class="dropdown">
					<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
					aria-haspopup="true" aria-expanded="false">고객센터</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/board/list#notice">공지사항</a>
						<a class="dropdown-item" href="/board/list#faq">FAQ</a>
					</div>
					<form action="/product/list/1" method="get" id="frm1"> 
						<input type="hidden" name="product_category" id="product_category">
						<input type="hidden" name="sort" id="sort" value="1">
					</form>
					</div>
					<a class="nav-item nav-link" style="cursor:pointer" onclick="categoryBtn('운동화');">&nbsp&nbsp운동화&nbsp </a> 
					<a class="nav-item nav-link" style="cursor:pointer" onclick="categoryBtn('스니커즈');">스니커즈&nbsp </a>
					<a class="nav-item nav-link" style="cursor:pointer" onclick="categoryBtn('슬리퍼');">슬리퍼&nbsp </a> 
					<a class="nav-item nav-link" style="cursor:pointer" onclick="categoryBtn('샌들');">샌들&nbsp </a>
					<a class="nav-item nav-link" style="cursor:pointer" onclick="categoryBtn('축구/농구');">축구/농구&nbsp </a>
					<a class="nav-item nav-link" style="cursor:pointer" onclick="categoryBtn('슬립온');">슬립온&nbsp </a>
					
					
				</div>
					 <form class="form-inline my-2 my-lg-0" action="/product/list/1" method="get" id='searchFrm'>
					 <ul class="nav navbar-nav navbar-right">
				      <li><input type="text"class="form-control mr-sm-2"  placeholder="Search" aria-label="Search" name="searchWord" id="Search" onKeypress="javascript:if(event.keyCode==13){searchBtn();}">
				      <input type="hidden" name="sort" id="search-sort" value="1"></li>
				      <li><button class="btn btn-outline-success " type="button" onclick="searchBtn()">Search</button></li>
				      </ul>
				    </form>
			</div>
			
		</nav>
		<script>
		function categoryBtn(category){
			document.getElementById('sort').value = '1';
			document.getElementById('product_category').value = category;
			document.getElementById('frm1').submit();
		}		
		function searchBtn() {
			document.getElementById('search-sort').value = '1';
			document.getElementById('searchFrm').submit();
		}
		</script>
		</div>
		<br><br>
		<h3 style="font-family: 'Frijole', cursive;">Best Award</h3>
		<br>
		<div class="container">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<th:block th:each="productDto:${bestProducts}">
				<div class="swiper-slide">
					<div class="card">
			            <a th:href="'/product/detail?product_idx='+${productDto.product_idx}"><img th:src="${productDto.product_image}" alt="" class="card-img-top" width="200" height="220"/></a>
			            <div class="card-body">
			              <b>[ <span style="font-size:14px;"th:text="${productDto.product_brand}"></span> ]</b>
			              <p style="font-weight: 300;font-size:14px"th:text="${productDto.product_name}"></p>
			              <b style="font-size:18px;"th:text="${#numbers.formatInteger(productDto.product_price, 0, 'COMMA')}"></b> 원
		             	  <br>
		             	  <th:block th:each="num:${#numbers.sequence(1,5)}">
				              <span th:if="${productDto.round_rating} >= ${num}" class="fa fa-star checked"></span>
				              <span th:if="${productDto.round_rating} < ${num}" class="fa fa-star"></span>
			              </th:block>
			              <span th:text="'('+${productDto.product_reviewcount}+')'"></span>			              
			            </div>
		            </div>
				</div>
				</th:block>
				
			</div>

			<!-- 페이징 -->
			<div class="swiper-pagination"></div>
		</div>
		</div>
		
		<br>
		<h3 style="font-family: 'Frijole', cursive;">Sale</h3>
		<br>
		<div class="container">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<th:block th:each="productDto:${saleProducts}">
				<div class="swiper-slide">
					<div class="card" >
			            <a th:href="'/product/detail?product_idx='+${productDto.product_idx}"><img th:src="${productDto.product_image}" alt="" class="card-img-top" width="200" height="220"/></a>
			            <div class="card-body">
			              <b>[ <span style="font-size:14px;"th:text="${productDto.product_brand}"></span> ]</b>
			              <p style="font-weight: 300;font-size:14px"th:text="${productDto.product_name}"></p>
			              <b style="font-size:18px;"th:text="${#numbers.formatInteger(productDto.product_price, 0, 'COMMA')}"></b> 원	
			              <br>
		             	  <th:block th:each="num:${#numbers.sequence(1,5)}">
				              <span th:if="${productDto.round_rating} >= ${num}" class="fa fa-star checked"></span>
				              <span th:if="${productDto.round_rating} < ${num}" class="fa fa-star"></span>
			              </th:block>
			              <span th:text="'('+${productDto.product_reviewcount}+')'"></span>
			            </div>
		            </div>
		            
				</div>
				</th:block>
			</div>

			<!-- 페이징 -->
			<div class="swiper-pagination"></div>
		</div>
		<br>
       <h3 style="font-family: 'Frijole', cursive;">New</h3>
		<br>
		<div class="container">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<th:block th:each="productDto:${newProducts}">
				<div class="swiper-slide">
					<div class="card">
			            <a th:href="'/product/detail?product_idx='+${productDto.product_idx}"><img th:src="${productDto.product_image}" alt="" class="card-img-top" width="200" height="220"/></a>
			            <div class="card-body">
			              <b>[ <span style="font-size:14px;"th:text="${productDto.product_brand}"></span> ]</b>
			              <p style="font-weight: 300;font-size:14px"th:text="${productDto.product_name}"></p>
			              <b style="font-size:18px;"th:text="${#numbers.formatInteger(productDto.product_price, 0, 'COMMA')}"></b> 원
		             	  <br>
		             	  <th:block th:each="num:${#numbers.sequence(1,5)}">
				              <span th:if="${productDto.round_rating} >= ${num}" class="fa fa-star checked"></span>
				              <span th:if="${productDto.round_rating} < ${num}" class="fa fa-star"></span>
			              </th:block>
			              <span th:text="'('+${productDto.product_reviewcount}+')'"></span>			            
			            </div>
		            </div>
				</div>
				</th:block>
			</div>
			
			<!-- 페이징 -->
			<div class="swiper-pagination"></div>
		</div>
        
		<hr>
        <div th:fragment="footer">
	<footer class="page-footer font-small blue-grey lighten-5">
	
	  <!-- Footer 아래부분 변수로 처리하는걸로 수정하자! contextparam과 같이 -->
	  <div class="container text-center text-md-left mt-5">
	
	    <!-- Grid row -->
	    <div class="row mt-3 dark-grey-text">
	
	      <!-- Grid column -->
	      <div class="col-md-6 col-lg-6 col-xl-6 mb-6">
	
	        <!-- Content -->
	        <h6 class="text-uppercase font-weight-bold">Shoes Factory</h6>
	        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	        <div style = "font-size:0.8em;">
	        <p>회사명: (주)KangMinsu</p>
	        <p>대표이사: 강민수</p>
	        <p>사업자 등록번호: 9837-234</p>
			</div>
	      </div>
	      <!-- Grid column -->
	
	      <!-- Grid column -->
	      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-6">
	
	        <!-- Links -->
	        <h6 class="text-uppercase font-weight-bold">Contact</h6>
	        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	        <div style = "font-size:0.8em;">
	        <p>주소: 수원시 권선구 구운동 493-15</p>
	        <p>이메일: mu1616@naver.com</p>
	        <p>고객센터: 1600-8262</p>
	      </div>
	      <!-- Grid column -->
	
	    </div>
	    <!-- Grid row -->
	
	  </div>
	  <!-- Footer Links -->
	
	</footer>
	</div>
	</div>
	</div><br>
	</div>
</body>
<script>
new Swiper('.swiper-container', {

	slidesPerView : 4, // 동시에 보여줄 슬라이드 갯수
	spaceBetween : 30, // 슬라이드간 간격
	slidesPerGroup : 4, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

	// 그룹수가 맞지 않을 경우 빈칸으로 메우기
	// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
	loopFillGroupWithBlank : true,

	loop : true, // 무한 반복

	pagination : { // 페이징
		el : '.swiper-pagination',
		clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
	},
	navigation : { // 네비게이션
		nextEl : '.swiper-button-next', // 다음 버튼 클래스명
		prevEl : '.swiper-button-prev', // 이번 버튼 클래스명
	}
});
</script>
</html>