<!DOCTYPE html>
<!-- 레이아웃 참고한 소스 -->
<!-- view-source:https://getbootstrap.com/docs/4.1/examples/dashboard/# -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
</head>
<body>
	<div class="container">
	<div th:fragment="header">
		<div class="shop-menu clearfix pull-right" th:object="${session.memberDto}">
			<a href="#" sec:authorize="isAuthenticated()"class="text-dark"><i class="fa text-primary" th:text="${#authentication.principal.username}+'님'"></i></a>&nbsp
			<a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')"class="text-dark"><i class="fa fa-home "></i>Admin</a>&nbsp
			<a href="cart.html" class="text-dark"><i class="fa fa-shopping-cart"></i> Cart</a>&nbsp&nbsp 
			<a sec:authorize="!isAuthenticated()" href="/member/login"class="text-dark"><i class="fa fa-lock"></i> Login</a>
			<a sec:authorize="isAuthenticated()" href="/member/logout"class="text-dark"><i class="fa fa-lock"></i> Logout</a>
			
		</div>
		<br>
		<h2 class="text-danger text-center"><a href="/" style="text-decoration:none"><span class="text-danger" style="font-family: 'Frijole', cursive;">Shoes Factory</span></a></h2><br>
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

				<div class="navbar-nav"><pre></pre>
					<div class="dropdown">
					<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
					aria-haspopup="true" aria-expanded="false">고객센터</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">문의게시판</a>
						<a class="dropdown-item" href="#">공지사항</a>
						<a class="dropdown-item" href="#">FAQ</a>
					</div>
					<form action="/product/list/1" method="get" id="frm1"> 
						<input type="hidden" name="product_category" id="product_category">
						
					</form>
					</div>
					<a class="nav-item nav-link" style="cursor:pointer" onclick="runningShoes();">&nbsp&nbsp운동화&nbsp </a> 
					<a class="nav-item nav-link" style="cursor:pointer" onclick="sneakers();">스니커즈&nbsp </a>
					<a class="nav-item nav-link" style="cursor:pointer" onclick="slipper();">슬리퍼&nbsp </a> 
					<a class="nav-item nav-link" style="cursor:pointer" onclick="sandal();">샌들&nbsp </a>
					<a class="nav-item nav-link" style="cursor:pointer" onclick="sports();">축구/농구&nbsp </a>
					<a class="nav-item nav-link" style="cursor:pointer" onclick="slipOn();">슬립온&nbsp </a>
					<a class="nav-item nav-link" href="#">브랜드&nbsp </a>
					<pre>                  </pre>
					 <form class="form-inline my-2 my-lg-0" action="/product/list/1" method="get" id='searchFrm'>
				      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchWord" id="Search">
				      <button class="btn btn-outline-success " type="submit">Search</button>
				    </form>
			</div>
			</div>
		</nav>
		<script>
		function runningShoes(){
			document.getElementById('product_category').value = "1";
			document.getElementById('frm1').submit();
		}
		function sneakers() {
			document.getElementById('product_category').value = "2";
			document.getElementById('frm1').submit();
		}
		function slipper(){
			document.getElementById('product_category').value = "3";
			document.getElementById('frm1').submit();
		}
		function sandal() {
			document.getElementById('product_category').value = "4";
			document.getElementById('frm1').submit();
		}
		function sports() {
			document.getElementById('product_category').value = "5";
			document.getElementById('frm1').submit();
		}
		function slipOn() {
			document.getElementById('product_category').value = "6";
			document.getElementById('frm1').submit();
		}
		</script>
		</div>
		<br><br>
		<h3 style="font-family: 'Frijole', cursive;">Best Award</h3><br>
		<div class="row">
		<div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes2.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes2.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
        </div><br><br><hr><br>
        <h3 style="font-family: 'Frijole', cursive;">Sale</h3><br>
        <div class="row">
		<div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
        </div><br><br><hr><br>
        <h3 style="font-family: 'Frijole', cursive;">New</h3><br>
        <div class="row">
		<div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
        </div><br><br><hr><br>
        <div th:fragment="footer">
	<footer class="page-footer font-small blue-grey lighten-5">
	
	  <!-- Footer 아래부분 변수로 처리하는걸로 수정하자! contextparam과 같이 -->
	  <div class="container text-center text-md-left mt-5">
	
	    <!-- Grid row -->
	    <div class="row mt-3 dark-grey-text">
	
	      <!-- Grid column -->
	      <div class="col-md-6 col-lg-6 col-xl-6 mb-6">
	
	        <!-- Content -->
	        <h6 class="text-uppercase font-weight-bold">Shoes Factory</h6>
	        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	        <div style = "font-size:0.8em;">
	        <p>회사명: (주)KangMinsu</p>
	        <p>대표이사: 강민수</p>
	        <p>사업자 등록번호: 9837-234</p>
			</div>
	      </div>
	      <!-- Grid column -->
	
	      <!-- Grid column -->
	      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-6">
	
	        <!-- Links -->
	        <h6 class="text-uppercase font-weight-bold">Contact</h6>
	        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	        <div style = "font-size:0.8em;">
	        <p>주소: 수원시 권선구 구운동 493-15</p>
	        <p>이메일: mu1616@naver.com</p>
	        <p>고객센터: 1600-8262</p>
	      </div>
	      <!-- Grid column -->
	
	    </div>
	    <!-- Grid row -->
	
	  </div>
	  <!-- Footer Links -->
	
	</footer>
	</div>
	</div><br>
	
</body>
</html>