<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
</head>
<body>
	<div class="container">
	<div th:fragment="header">
		<div class="shop-menu clearfix pull-right" th:object="${session.memberDto}">
			<a href="#" sec:authorize="isAuthenticated()"class="text-dark"><i class="fa text-primary" th:text="${#authentication.principal.username}+'님'"></i></a>&nbsp
			<a href="cart.html" class="text-dark"><i class="fa fa-shopping-cart"></i> Cart</a>&nbsp&nbsp 
			<a sec:authorize="!isAuthenticated()" href="/login"class="text-dark"><i class="fa fa-lock"></i> Login</a>
			<a sec:authorize="isAuthenticated()" href="/logout"class="text-dark"><i class="fa fa-lock"></i> Logout</a>
		</div>
		<br>
		<h2 class="text-danger text-center"><a href="/" class="text-danger">Shoes Factory</a></h2><br>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">

				<div class="navbar-nav"><pre></pre>
					<div class="dropdown">
					<a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
					aria-haspopup="true" aria-expanded="false">고객센터</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">문의게시판</a>
						<a class="dropdown-item" href="#">공지사항</a>
						<a class="dropdown-item" href="#">FAQ</a>
					</div>

					</div>
					<a class="nav-item nav-link" href="#">&nbsp&nbsp운동화&nbsp </a> 
					<a class="nav-item nav-link" href="#">스니커즈&nbsp </a>
					<a class="nav-item nav-link" href="#">구두&nbsp </a> 
					<a class="nav-item nav-link" href="#">샌들&nbsp </a>
					<a class="nav-item nav-link" href="#">워커&nbsp </a>
					<a class="nav-item nav-link" href="#">슬립온&nbsp </a>
					<pre>                                </pre>
					 <form class="form-inline my-2 my-lg-0">
				      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				      <button class="btn btn-outline-success " type="submit">Search</button>
				    </form>
			</div>
			</div>
		</nav>
		</div>
		<br>
		<h3>Best Award</h3><br>
		<div class="row">
		<div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes2.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes2.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
        </div><br><br><hr><br>
        <h3>Sale</h3><br>
        <div class="row">
		<div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes1.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
        </div><br><br><hr><br>
        <h3>New</h3><br>
        <div class="row">
		<div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
          <div class="col-3">
		    <div class="card">
            <a href="#"><img src="/static/img/shoes3.png" alt="" class="card-img-top" /></a>
            <div class="card-body">
              <p>호웰 모크 슈즈</p>
              <b>15,900원</b>
            </div>
          </div>
          </div>
        </div><br><br><hr><br>
        <div th:fragment="footer">
	<footer class="page-footer font-small blue-grey lighten-5">
	
	  <!-- Footer 아래부분 변수로 처리하는걸로 수정하자! contextparam과 같이 -->
	  <div class="container text-center text-md-left mt-5">
	
	    <!-- Grid row -->
	    <div class="row mt-3 dark-grey-text">
	
	      <!-- Grid column -->
	      <div class="col-md-6 col-lg-6 col-xl-6 mb-6">
	
	        <!-- Content -->
	        <h6 class="text-uppercase font-weight-bold">Shoes Factory</h6>
	        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	        <div style = "font-size:0.8em;">
	        <p>회사명: (주)KangMinsu</p>
	        <p>대표이사: 강민수</p>
	        <p>사업자 등록번호: 9837-234</p>
			</div>
	      </div>
	      <!-- Grid column -->
	
	      <!-- Grid column -->
	      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-6">
	
	        <!-- Links -->
	        <h6 class="text-uppercase font-weight-bold">Contact</h6>
	        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
	        <div style = "font-size:0.8em;">
	        <p>주소: 수원시 권선구 구운동 493-15</p>
	        <p>이메일: mu1616@naver.com</p>
	        <p>고객센터: 1600-8262</p>
	      </div>
	      <!-- Grid column -->
	
	    </div>
	    <!-- Grid row -->
	
	  </div>
	  <!-- Footer Links -->
	
	</footer>
	</div>
	</div><br>
	
</body>
</html>