<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>

</head>
<body>
<div class="container">
<th:block th:include="./home.html::header"></th:block>
		
	<br><br><br>
	<div class="row">
	<div class="col-md-4 ml-auto mr-auto">
	<div class="login-box well">
        <form accept-charset="UTF-8" role="form" method="post" action="/loginProcess">
            <h3>로그인</h3><br>
            <div class="form-group">
                <input name="username"  id="username-email" placeholder="ID" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input name="password" id="password"  placeholder="Password" type="password" class="form-control" />
            </div>
            <span class="text-danger" th:text="${loginFail}"></span>
            <div class="form-group">
                <input type="submit" class="btn btn-default btn-login-submit btn-block m-t-md" value="로그인" />
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-default btn-login-submit btn-block m-t-md" value="회원가입" onclick="location.href='/member/join';"/>
            </div>
            <span class='text-center'><a href="#" class="text-sm">아이디 찾기</a></span>
        </form>
          </div>
          </div>
          </div>
          <hr>
	
	<th:block th:include="./home.html::footer"></th:block>
	
</div>
</body>
</html>