<!DOCTYPE html>
<!-- 레이아웃 참고한 소스 -->
<!-- view-source:https://getbootstrap.com/docs/4.1/examples/dashboard/# -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<!-- 부모 요소의 크기에 맞기 이미지 크기 조절 -->
<style>
img {
  max-width: 100%;
  height: auto;
}
</style>
</head>
<body>
<div class="container">
<th:block th:include="./home.html::header"></th:block>
<br><br><br>
<div class="row">
<div class="col-6">
<img th:src="${productDto.product_image}" style="width:480px;height:380px;">
</div>
<div class="col-6">
<h4 th:text="${productDto.product_name}" style="font-weight:600;"></h4><br>
<table class="table">
<tr>
<th scope="row">판매가</th>
<td th:text="${#numbers.formatInteger(productDto.product_price, 0, 'COMMA')}"></td>
</tr>
<tr>
<th scope="row">상품요약정보</th>
<td th:text="${productDto.product_brand}+' '+${productDto.product_category}"></td>
</tr>
<tr>
<th scope="row">배송비</th>
<td>무료</td>
</tr>
<tr>
<th scope="row">사이즈</th>
<td>
	<select style="width:150px">
		 <option id="option" value="검색분류" selected>Size</option>
	        <th:block th:each="stockDto:${stockList}">
       		    <option th:if="${stockDto.count} >0" th:value="${stockDto.size}" th:text="${stockDto.size}">
	       		<option th:if="${stockDto.count} == 0"th:text="${stockDto.size}+'(품절)'" disabled>
	        </th:block>
	</select>
</td>
</tr>
</table><br>&nbsp&nbsp
<button type="button" class="btn btn-outline-primary" style="width:250px;height:70px;font-size:25px;">장바구니 담기</button>
<button type="button" class="btn btn-outline-danger" style="width:250px;height:70px;font-size:25px;">구매하기</button>
</div>
</div>
<br><br><br><br><hr>
<div align="center">
<br><br><br><br>
<img src="/static/img/logo.png" style="width:900px;"><br><br><br><br><br><br>
</div>
<div align="center">
	<div id="contents" align="center" style="height: auto; width: 900px;"></div>
</div><br><br>
<div align="center">
	<h5 style="font-weight:500">SIZE INFO</h4><br>
	<img src="/static/img/size.png" style="width:750px;"><br>
</div><br><br><hr><br><br><br>
<div align="center">
<div style="border: 1px solid #D8D8D8; height:auto; width:900px;min-height:500px" align="left" >
<br>
<div class="container">
<h5 style="font-weight:600">구매후기 (0)</h5><br>
	<ul>
		<li>구매후기 작성은 주문내역조회 -> 후기작성을 통해 작성할 수 있습니다.</li>
	</ul><br><hr>
<div align="center"><br><img src="/static/img/noExist.png" style="width:700px;height:250px"></div>
</div>
</div>
</div>
<div align="center">
<div style="border: 1px solid #D8D8D8; height:auto; width:900px;min-height:500px" align="left" >
<br>
<div class="container" id="qna"></div>
</div>
</div>
<br><br><hr>
<th:block th:include="./home.html::footer"></th:block>
</div>
<script th:inline="javascript">
qna_page(1);
var contents = [[${productDto.product_contents}]];
document.getElementById('contents').innerHTML = contents;
function qnaBtn(){
	var product_idx = [[${productDto.product_idx}]];
	window.open("/product/qna/"+product_idx,"stock","width=550, height=600");
}

function qna_page(num) {
	var page=num;
	var qna_product = [[${productDto.product_idx}]];
	$.ajax({
		url: "/product/qnaShow",
		type: "POST",
		data: {"currentPage":page, "qna_product":qna_product},
		dataType:"html",
		error:function(request,status,error){
	        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
	       },
	    success : function(data) {
	    	document.getElementById('qna').innerHTML = data;
	    	var btns = document.getElementsByClassName('qna-page');
	    	for(var i=0; i<btns.length; i++) {
	    		if(btns[i].innerText == page){
	    			btns[i].classList.remove('btn-outline-secondary');
	    			btns[i].classList.add('btn-outline-primary');
	    		}
	    	}
	    }
	});
}
function qnaDetail(num,obj){
	var parent = obj.parentNode;
	var tag = parent.nextElementSibling;
	if(tag.style.display =='none') {
		tag.style.display = '';
	} else {
		tag.style.display = 'none';
	}
}
function qnaDetail_secret(idx,obj,qna_product){
	$.ajax({
		url: "/product/showSecret",
		type: "POST",
		data: {"idx":idx,"product":qna_product},
		dataType:"json",
		error:function(request,status,error){
	        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
	       },
	    success : function(data) {
	    	if(data.qna_idx==0) {
	    		alert('권한이 없습니다');
	    		return;
	    	}
	    	var parent = obj.parentNode;
	    	var tag = parent.nextElementSibling;
	    	var question_div = tag.childNodes[1].childNodes[1];
	    	
	    	for(var i=0; i<question_div.childNodes.length; i++) {
	    		var question = question_div.childNodes[i];
	    		if(question.nodeName == 'TEXTAREA') {
	    			question.innerText = data.qna_question;
	    			break;
	    		}
	    	}
	    	if(data.qna_answer != null) {
	    		var answer_div = tag.children[0].children[1];
	    		for(var i=0; i<answer_div.children.length ; i++) {
	    			var answer = answer_div.children[i];
	    			if(answer.nodeName == 'TEXTAREA') {
	    				answer.innerText = data.qna_answer;
	    				break;
	    			}
	    		}
	    	}
	    	
	    	if(tag.style.display =='none') {
	    		tag.style.display = '';
	    	} else {
	    		tag.style.display = 'none';
	    	}
	    }
	});
}
</script>
</body>
</html>