<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>test</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<style>
.swiper-container {
	height:420px;
	border:5px solid silver;
	border-radius:7px;
	box-shadow:0 0 20px #ccc inset;
}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
	max-width:100%; /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */
	/* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다. */
}
</style>
</head>
<body>
	<!-- 클래스명은 변경하면 안 됨 -->
	<div class="container">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes1.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes3.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes3.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes1.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes3.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes3.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes3.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes1.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes1.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
			</div>
			<!-- 페이징 -->
			<div class="swiper-pagination"></div>
		</div>
		<br>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="card">
						<a href="#"><img src="/static/img/shoes2.png" alt=""
							class="card-img-top" /></a>
						<div class="card-body">
							<p>호웰 모크 슈즈</p>
							<b>15,900원</b>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<img src="http://superkts.dothome.co.kr/img/p2/0714.jpg">
				</div>
				<div class="swiper-slide">
					<img src="http://ktsmemo.cdn3.cafe24.com/p/0658.jpg">
				</div>
				<div class="swiper-slide">
					<img src="http://ktsmemo.cdn3.cafe24.com/p/0678.jpg">
				</div>
				<div class="swiper-slide">
					<img src="http://superkts.dothome.co.kr/img/p2/0185.jpg">
				</div>
				<div class="swiper-slide">
					<img src="https://biketago.com/img/p/0297.jpg">
				</div>
				<div class="swiper-slide">
					<img src="http://ktsmemo.cdn3.cafe24.com/p/0080.jpg">
				</div>
				<div class="swiper-slide">
					<img src="https://biketago.com/img/p/0430.jpg">
				</div>
				<div class="swiper-slide">
					<img src="http://superkts.dothome.co.kr/img/p2/0613.jpg">
				</div>
				<div class="swiper-slide">
					<img src="http://ktsmemo.cdn3.cafe24.com/p/0207.jpg">
				</div>
				<div class="swiper-slide">
					<img src="http://superkts.dothome.co.kr/img/p2/0541.jpg">
				</div>
				<div class="swiper-slide">
					<img src="https://biketago.com/img/p/0516.jpg">
				</div>
				<div class="swiper-slide" style="font-size: 50pt;">- 끝 -</div>
			</div>


			<br>
			<!-- 페이징 -->
			<div class="swiper-pagination"></div>
		</div>
		<div style="text-align: center; margin-top: 5px;">랜덤사진 갤러리</div>
	</div>
	<!-- 클래스명은 변경하면 안 됨 -->
<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0178.jpg"></div>
		<div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0462.jpg"></div>
		<div class="swiper-slide"><img src="http://superkts.dothome.co.kr/img/p2/0716.jpg"></div>
		<div class="swiper-slide"><img src="http://superkts.dothome.co.kr/img/p2/0496.jpg"></div>
		<div class="swiper-slide"><img src="https://biketago.com/img/p/0630.jpg"></div>
		<div class="swiper-slide"><img src="http://oldmidi.cdn3.cafe24.com/p/0709.jpg"></div>
		<div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0379.jpg"></div>
		<div class="swiper-slide"><img src="https://biketago.com/img/p/0714.jpg"></div>
		<div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0213.jpg"></div>
		<div class="swiper-slide"><img src="http://ktsmemo.cdn3.cafe24.com/p/0500.jpg"></div>
		<div class="swiper-slide"><img src="http://superkts.dothome.co.kr/img/p2/0040.jpg"></div>
		<div class="swiper-slide"><img src="https://biketago.com/img/p/0495.jpg"></div>
		<div class="swiper-slide"><img src="http://superkts.dothome.co.kr/img/p2/0078.jpg"></div>
		<div class="swiper-slide"><img src="https://biketago.com/img/p/0461.jpg"></div>
	</div>

	<!-- 네비게이션 지정 -->
	<div class="swiper-button-next"></div><!-- 다음 버튼 (오른쪽에 있는 버튼) -->
	<div class="swiper-button-prev"></div><!-- 이전 버튼 -->
</div>
<div style="text-align:center; margin-top:5px;">랜덤사진 갤러리</div>
	<script>
		new Swiper('.swiper-container', {

			slidesPerView : 4, // 동시에 보여줄 슬라이드 갯수
			spaceBetween : 30, // 슬라이드간 간격
			slidesPerGroup : 4, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

			// 그룹수가 맞지 않을 경우 빈칸으로 메우기
			// 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
			loopFillGroupWithBlank : true,

			//loop : true, // 무한 반복

			pagination : { // 페이징
				el : '.swiper-pagination',
				clickable : true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
			}
		});
	</script>

</body>
</html>