<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Admin Page</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>

<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" ></script>
<style>
.sm{
	width:220px;
}
ul{

	list-style:none;
	overflow : auto;
	
}
li {

	float: left;
}
</style>
</head>
<body>
<th:block th:include="admin/admin.html::header"></th:block>
 <div class="container-fluid">
     <div class="row">
		<th:block th:include="admin/admin.html::side"></th:block>
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      	    <h1 class="h2">메인상품 진열</h1>
        </div>
        <div>
        <font color="gray">[검색옵션]</font>
        <form id="searchFrm" action="/admin/product/mainDisplay" method="post">
        <table class="table table-bordered" style="font-size:14px;">       
        <tr>
        <th scope="row"class="table-active" width="150px;">진열분류</th>
        <td colspan="2" class="left" id="category">
        	<input type="radio" name="display_md" value="1" >Best&nbsp&nbsp&nbsp
        	<input type="radio" name="display_md" value="2">Sale&nbsp&nbsp&nbsp
			<input type="radio" name="display_md" value="3">New
        </td>
        </tr>
        </table>
        <div align="center">
        	<input type="submit" class="btn btn-primary" style="width:100px"value="선택" > 
        </div>
        </form>
        </div><br>
        <h3 style="color:dark"><span id="categoryName">Best</span> Products</h3>
        <hr>
        <span style="font-size:14px">    
        <font color="gray">* 드래그하여 순서를 변경할 수 있습니다.</font><br>
     	<font color="gray">* 저장버튼을 누르지 않으면 삭제, 순서변경이 반영되지 않습니다.</font><br><br>
     	</span>
     	<div style="min-height:350px;">
			<ul id="sortable">
			  <th:block th:each="productDto:${productList}">		
			  <li class="ui-state-default" th:value = ${productDto.product_idx}>
			  		<button class="btn-danger" onclick="deleteBtn(this);">x</button>
				  	<div class="card sm">
			            <a th:href="'/product/detail?product_idx='+${productDto.product_idx}"><img th:src="${productDto.product_image}" alt="" class="card-img-top" height="150"/></a>
			            <div class="card-body">
		                <b>[ <span style="font-size:14px;"th:text="${productDto.product_brand}"></span> ]</b>
		                <p style="font-weight: 300;font-size:14px"th:text="${productDto.product_name}"></p>
		                <b style="font-size:18px;"th:text="${#numbers.formatInteger(productDto.product_price, 0, 'COMMA')}"></b> 원
		           		</div>
         			</div>
			  </li>
			  </th:block>			  
			</ul>
		</div>
			<div align="center">
				<button class="btn btn-outline-primary" onclick="saveBtn();">저장</button>
				<button class="btn btn-outline-dark" onclick="addBtn();">추가</button>
			</div>
		<br><br>
		</main>
	</div>
</div>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
  
</script>	
<script th:inline="javascript">
$(function() {

    $("#sortable").sortable();

    $("#sortable").disableSelection();

});
var num = [[${category}]];
var category = document.getElementById('category');
category.children[num-1].checked = true;

if(num==1){
	document.getElementById('categoryName').innerHTML = "Best";
}
if(num==2){
	document.getElementById('categoryName').innerHTML = "Sale";
}
if(num==3){
	document.getElementById('categoryName').innerHTML = "New";
}
function deleteBtn(obj){
		if(confirm('삭제하시겠습니까?')){
			var ul = document.getElementById('sortable');
			var li = obj.parentNode;
			console.log(li);
			ul.removeChild(li);
		}
	
}

function addBtn(){
	var display_md = [[${category}]];
	window.open("/admin/product/mainDisplay/add?display_md="+display_md,"add","width=1000, height=570");
}

function saveBtn(){
	var display_md = [[${category}]];
	var list = document.getElementById('sortable').children;
	var product_idx = new Array();
	if(confirm('저장하시겠습니까?')){
		for(var i=0; i<list.length; i++){
			product_idx.push(list[i].value);
		}
		$.ajax({
			url: "/admin/product/mainDisplay/save",
			type: "POST",
			traditional: true,
			data: {'product_idx':product_idx, "display_md":display_md},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	window.location.reload();
		    }
		});
	}
}
</script>
</body>
</html>