<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<style>
      th,td,tr {
        text-align: center;
        height:15px;
      }

    </style>
</head>
<body>
<br>
<div class="container" style="font-size:14px">
<h5 style="font-weight:600">재고관리</h5>
<hr><br>
<span style="font-weight:600;font-size:14px">상품명 : </span>
<span style="font-size:14px"th:text=${productEntity.product_name}></span><br><br>
사이즈  <input type="text"  id="size"style="width:100px;float:center">
재고  <input type="text"  id="count" style="width:100px">&nbsp&nbsp
<button type="button"class="btn btn-sm btn-primary" onclick="insertStock()">재고등록</button>
<hr><br>
<div id="place">
<table class="table table-bordered">
	<thead class="thead-light">
	<tr>
	<th style="width:20%;">사이즈</th>
	<th style="width:15%;">재고</th>
	<th style="width:30%;">재고추가</th>
	<th style="width:15%;"></th>
	</tr>
	<th:block th:each="stock:${stockList}">
	<tr>
		<td class="align-middle"><span th:text="${stock.size}" th:id="'size'+${stock.size}"></span></td>
		<td class="align-middle"th:text="${stock.count}"></td>
		<td class="align-middle">
			<input type="text" style="width:50%;"placeholder="수량">
			<input type="button" id="modifyBtn"class="btn btn-sm" value="추가" th:onclick="'addStock(this,'+${stock.size}+')'">			
		</td>
		<td class="align-middle"><input type="button" id="deleteBtn"class="btn btn-sm" value="삭제" th:onclick="'deleteStock(this,'+${stock.size}+')'"></td>
	</tr>
	</th:block>
	</thead>
</table>
</div>
</div><br>
<script>
function insertStock(){
	if(confirm('재고를 등록하시겠습니까?')) {
		var size = document.getElementById('size').value;
		var count = document.getElementById('count').value;
		var product_idx = [[${product_idx}]];
		$.ajax({
			url: "/admin/product/stock/insert",
			type: "POST",
			data: {"product_idx":product_idx, "size":size, "count":count},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('재고 등록 완료');
		        location.reload();
		    }
		});
	}
}

function addStock(obj,size) {
	
	var size = document.getElementById('size'+size).innerHTML;
	var add = obj.previousElementSibling.value;
	var product_idx = [[${product_idx}]];
	if(confirm('재고를 추가하시겠습니까?')){
		$.ajax({
			url: "/admin/product/stock/add",
			type: "POST",
			data: {"product_idx":product_idx, "size":size, "add":add},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('재고 수정 완료');
		        location.reload();
		    }
		});
	}
	
}

function deleteStock(obj,size){
	var size = document.getElementById('size'+size).innerHTML;
	var product_idx = [[${product_idx}]];
	if(confirm('삭제하시겠습니까?')){
		$.ajax({
			url: "/admin/product/stock/delete",
			type: "POST",
			data: {"product_idx":product_idx, "size":size},
			error:function(request,status,error){
		        alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
		       },
		    success : function(data) {
		    	alert('재고 삭제 완료');
		        location.reload();
		    }
		});
	}
}

</script>
</body>
</html>