<!DOCTYPE html>
<!-- 레이아웃 참고한 소스 -->
<!-- view-source:https://getbootstrap.com/docs/4.1/examples/dashboard/# -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
</head>
<body>
<div class="container">
<th:block th:include="./home.html::header"></th:block>
<br><br>
<div class="row">
<div class="col-4">
<h4 th:if="${category} ne null"style="font-weight:bold;" th:text="${category}"></h4>
<h4 th:if="${category} eq null"style="font-weight:bold;" th:text="${searchWord}+' 검색결과'"></h4>
</div>
<div class="col-4"></div>
<div class="col-4">
<a style="cursor:pointer" onclick="productSort(1);"><font class="sort" color="grey">신상품순</font></a>&nbsp
<a style="cursor:pointer" onclick="productSort(2);"><font class="sort" color="grey">높은가격순</font></a>&nbsp
<a style="cursor:pointer" onclick="productSort(3);"><font class="sort" color="grey">낮은가격순</font></a>&nbsp
<font color="grey">인기순</font>&nbsp
</div>
</div>
<font color="grey"><p>[총 <font color="red" th:text="${pageDto.countRecord}"></font>개]</p></font>
<br>
<div class="row">
<th:block th:each="productDto:${productList}">
<div class="col-3">
		    <div class="card">
            <a th:href="'/product/detail?product_idx='+${productDto.product_idx}"><img th:src="${productDto.product_image}" alt="" class="card-img-top" width="200" height="220"/></a>
            <div class="card-body">
              <b>[ <span style="font-size:14px;"th:text="${productDto.product_brand}"></span> ]</b>
              <p style="font-weight: 300;font-size:14px"th:text="${productDto.product_name}"></p>
              <b style="font-size:18px;"th:text="${#numbers.formatInteger(productDto.product_price, 0, 'COMMA')}"></b> 원
            </div>
          </div>
          <br><br>
          </div>
</th:block>
</div>
        <div align="center">
        <th:block th:if="${pageDto.totalPage}>0">
	        <th:block th:if="${pageDto.startPage}>10" >				
				<button class="btn btn-outline-secondary btn-sm pageBtn" style="WIDTH: 20pt; HEIGHT: 23pt" onclick="clickPageBtn(1)">&#171</button>
	        	<button class="btn btn-outline-secondary btn-sm pageBtn" th:onclick="'clickPageBtn('+${pageDto.startPage}+'-10)'">&#60</button>
	        </th:block>
	        <th:block th:each="num:${#numbers.sequence(pageDto.startPage,pageDto.endPage)}">
	        	<button class="btn btn-outline-secondary btn-sm pageBtn" th:onclick="'clickPageBtn('+${num}+')'"><th:block th:text="${num}"></th:block></button>
	        </th:block>
	        <th:block th:if="${pageDto.endPage}<${pageDto.totalPage}" >
				<button class="btn btn-outline-secondary btn-sm pageBtn" th:onclick="'clickPageBtn('+${pageDto.startPage}+'+10)'">></button>
				<button class="btn btn-outline-secondary btn-sm pageBtn" style="WIDTH: 20pt; HEIGHT: 23pt" th:onclick="'clickPageBtn('+${pageDto.totalPage}+')'">&#187</button>
	        </th:block>
        </th:block>
        </div>
        <br><br><hr>
<th:block th:include="./home.html::footer"></th:block>
</div>
<script th:inline="javascript">
makePageBtn();
searchOption();
function searchOption(){
	var searchWord = [[${searchWord}]];
	document.getElementById('Search').value = searchWord;
	document.getElementById('product_category').value = [[${searchDto.product_category}]];
	document.getElementById('sort').value = [[${searchDto.sort}]];
	document.getElementById('search-sort').value = [[${searchDto.sort}]];
	var sort = [[${searchDto.sort}]];
	document.getElementsByClassName('sort')[sort-1].style.fontWeight = "bold";
	document.getElementsByClassName('sort')[sort-1].color = "black";
}

function makePageBtn(){
	currentPage = [[${pageDto.currentPage}]];
	var btns = document.getElementsByClassName('pageBtn');
	for(var i=0; i<btns.length; i++) {
		if(btns[i].innerText == currentPage){
			btns[i].classList.remove('btn-outline-secondary');
			btns[i].classList.add('btn-outline-primary');
		}
	}
}

function clickPageBtn(num){
	searchOption();
	if([[${searchWord}]] == null) {
	document.getElementById('frm1').action = "/product/list/"+num;
	document.getElementById('frm1').submit();
	} else {		
		document.getElementById('searchFrm').action = "/product/list/"+num;
		document.getElementById('searchFrm').submit();
	}

	
}


function productSort(type) {
	document.getElementById('sort').value = type;
	document.getElementById('search-sort').value = type;
	if([[${searchWord}]] == null) {
		document.getElementById('frm1').action = "/product/list/1";
		document.getElementById('frm1').submit();
	} else {
		document.getElementById('searchFrm').action = "/product/list/1";
		document.getElementById('searchFrm').submit();
	}

}
</script>
</body>
</html>