<!DOCTYPE html>
<!-- 레이아웃 참고한 소스 -->
<!-- view-source:https://getbootstrap.com/docs/4.1/examples/dashboard/# -->
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Shoes Factory</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<style>
#info{
	font-size:14px;
	text-align:center;
}
#info td{
	text-align:left;
}
.pw{
	margin:1px;
}
#password{
	display:none;
}
#email{
	display:none;
}
</style>
</head>
<body>
	<div class="container">
		<th:block th:include="./home.html::header"></th:block>
		<br>
		<div class="container-fluid">
			<div class="row">
				<th:block th:include="order/orderList.html::side"></th:block>
				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h3 style="font-weight: 600">회원정보수정</h3>
					</div>
					<br>
					<div id="info">
						<table class="table table-bordered">
							<tr>
								<th class="table-active">아이디</th>
								<td th:text="${memberDto.mem_id}" style="text-align:left;"></td>
							</tr>
							<tr>
								<th class="table-active">생년월일</th>
								<td th:text="${#calendars.format(memberDto.mem_birth,'yyyy-MM-dd')}"></td>
							</tr>
							<tr>
								<th class="table-active">이름</th>
								<td th:text="${memberDto.mem_name}"></td>
							</tr>							
							<tr>
								<th class="table-active align-middle">비밀번호</th>
								<td>
									<button onclick="pwForm();" id="pwChangeBtn">변경</button>
									<div id="password">
										<input type="password" id="mem_pw" placeholder="기존 비밀번호" class="pw"><br>
										<input type="password" id="password1" placeholder="변경할 비밀번호" class="pw" onkeyup="pwCheck(this.value);isMatch(document.getElementById('password2').value);"> <span id="pwText1">(영문/숫자/특수문자 조합 8자 이상)</span><br>
										<input type="password" id="password2" placeholder="비밀번호확인" class="pw" onkeyup="isMatch(this.value);"> <span id="pwText2"></span>
										<br>
										<button onclick="changePassword();">변경</button> <button onclick="pwCancel();">취소</button>
									</div>
								</td>
							</tr>	
							<tr>
								<th class="table-active">휴대폰번호</th>
								<td><input type="text" id="mem_phone" th:value="${memberDto.mem_phone}"></td>
							</tr>
							<tr>
								<th class="table-active">이메일</th>
								<td>
									<div id="currentMail">
										<span th:text="${memberDto.mem_mail}"></span>
										<button onclick="mailForm();">변경</button>
									</div>
									<div id="email">
										<input type="text" id="mailaddr" placeholder="이메일" style="width:40%;">&nbsp;
										<button onclick="authMail()">인증</button><br>
										<input type="text" id="auth_key" placeholder="인증번호"><br>
										<button onclick="changeMail()">변경</button>
										<button onclick="mailCancel()">취소</button>
									</div>
								</td>
							</tr>															
							<tr>
								<th class="table-active align-middle">주소</th>
								<td class="left">
									<input type="text"  id="sample6_postcode" placeholder="우편번호" th:value="${memberDto.mem_postcode}"readonly>&nbsp<input type="button" placeholder="우편번호" onclick="sample6_execDaumPostcode()" value="주소찾기"><br>
									<input type="text"  style="width:300px;"id="sample6_address" name="mem_addr1" th:value="${memberDto.mem_addr1}" placeholder="주소" readonly>
									<input type="text"  id="sample6_detailAddress" name="mem_addr2" th:value="${memberDto.mem_addr2}" placeholder="상세주소">		
								</td>	
							</tr>																			
						</table>
						<p style="color:grey;font-size:13px;text-align:left;">* 아이디, 생년월일, 이름은 수정이 불가능합니다.</p>
						<p style="color:grey;font-size:13px;text-align:left;">* 이메일은 인증 이후에 변경할 수 있습니다.</p>
						<br>
						<button class="btn  btn-primary" onclick="modify()">수정</button>
					</div>
				</main>
			</div>
		</div>
		<br><br><br>
		<hr>
		<th:block th:include="./home.html::footer"></th:block>
		<br>
	</div>

<script th:inline="javascript">
function pwForm(){
	document.getElementById('password').style.display="block";
	document.getElementById('pwChangeBtn').style.display="none";
}
function pwCancel(){
	document.getElementById('password').style.display="none";
	document.getElementById('pwChangeBtn').style.display="inline";
	document.getElementById('mem_pw').value="";
	document.getElementById('password1').value="";
	document.getElementById('password2').value="";
}
function mailForm(){
	document.getElementById('email').style.display = "block";
	document.getElementById('currentMail').style.display = "none";
}
function mailCancel(){
	document.getElementById('email').style.display = "none";
	document.getElementById('currentMail').style.display = "inline";
}
function authMail(){
	var mail = document.getElementById('mailaddr').value;
	if(!isEmail(mail)) {
		alert('이메일 양식이 아닙니다.');
		return;
	}
	$.ajax({
		url: "/member/info/authMail",
		type: "POST",
		data: {"mail":mail},
		success: function(data) {
			alert('인증 메일이 전송되었습니다.');
		}
	});
}
function changeMail(){
	var auth_key = document.getElementById('auth_key').value;
	$.ajax({
		url: "/member/info/changeMail",
		type: "POST",
		data: {"auth_key":auth_key},
		success: function(data) {
			if(data==0){
				alert('인증번호를 확인해주세요.')
			}else {
				alert('이메일이 변경되었습니다.');
				location.reload();
			}
		}
	});
}
function modify(){
	if(!confirm('수정하시겠습니까?')){
		return;
	}
	var mem_phone = document.getElementById('mem_phone').value;
	var mem_postcode = document.getElementById('sample6_postcode').value;
	var mem_addr1 = document.getElementById('sample6_address').value;
	var mem_addr2 = document.getElementById('sample6_detailAddress').value;
	if(!phoneCheck(mem_phone)){
		alert('휴대폰번호를 확인해주세요.');
		return;
	}
	var obj = {"mem_phone":mem_phone, "mem_postcode":mem_postcode, "mem_addr1":mem_addr1, "mem_addr2":mem_addr2};
	$.ajax({
		url: "/member/info/modify",
		type: "POST",
		contentType : "application/json",
		data: JSON.stringify(obj),
		success: function(data) {
			alert('수정하였습니다.');
			location.reload();
		}
	});
	
}
function changePassword(){
	if(!confirm('변경하시겠습니까?')){
		return;
	}
	var mem_pw = document.getElementById('mem_pw').value;
	var newPassword = document.getElementById('password1').value;
	var newPassword2 = document.getElementById('password2').value;
	if(!pwCheck(newPassword) || !isMatch(newPassword2)){
		alert('비밀번호를 확인해주세요.');
		return;
	}
	var obj = {"mem_pw":mem_pw, "newPassword":newPassword};
	$.ajax({
		url: "/member/info/changePassword",
		type: "POST",
		contentType : "application/json",
		data: JSON.stringify(obj),
		success: function(data) {
			if(data==0){
				alert('기존 비밀번호를 확인해주세요.')
			}else {
				alert('변경하였습니다.');
				pwCancel();
			}
		}
	});
}
function isEmail(asValue) {
	var regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
	return regExp.test(asValue);	

}
function phoneCheck(phone){
	var re = /^[0-9]{10,11}$/;
	if(!re.test(phone)){
		return false;
	}else {
		return true;
	}
}
function pwCheck(value){
	var re = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/;
    if(!re.test(value)) {
    	document.getElementById('pwText1').style.color='red';
    	return false;
    } else {
    	document.getElementById('pwText1').style.color='green';
    	return true;
    }
}
function isMatch(pw2){
	var pw1 = document.getElementById('password1').value;
	if(!(pw1==pw2)){
		document.getElementById('pwText2').style.color='red';
		document.getElementById('pwText2').innerHTML='비밀번호를 확인해주세요';
		return false;
	}else {
		document.getElementById('pwText2').style.color='green';
		document.getElementById('pwText2').innerHTML='비밀번호가 일치합니다';
		return true;
	}
}
function sample6_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                //document.getElementById("sample6_extraAddress").value = extraAddr;
            
            } else {
               // document.getElementById("sample6_extraAddress").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('sample6_postcode').value = data.zonecode;
            document.getElementById("sample6_address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("sample6_detailAddress").focus();
        }
    }).open();
}
</script>
</body>
</html>