<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>test</title>
<th:block th:include="./bootstrap.html::bootstrap"></th:block>
<style>
</style>
</head>
<body>

<script>
var result;
function hi() {
	console.log('hi');
	var ApiUrl = "api.openweathermap.org/data/2.5/forecast?q=Seoul,KR&appid=bf33cd622a6f84f143c300c0757e43d3";
	var name;
	$.ajax({ 
	    url: "http://api.openweathermap.org/data/2.5/forecast?q=Seoul,KR&appid=bf33cd622a6f84f143c300c0757e43d3",
	    dataType: 'json',
	    type: 'GET',
	    success: (data) =>{
	        console.log(data);
	    },
	    error: function(){
	        alert("에러");
	    }
	});
}
</script>

</body>
</html>