<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.store.model.brand.dao.BrandDAO">

<!-- 모든 브랜드명 셀렉트 -->
<select id="selectAll" resultType="string">
	select brand_name
	from brand
</select>


</mapper>