<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.project_01.model.category.dao.CategoryDAO">

<!-- 특정 카테고리명 가져오기 -->
<select id="getCategoryName" resultType="string">
	select category_name
	from category
	where category_idx = #{category_idx}
</select>

<!-- 모든 카테고리명 가져오기 -->
<select id="selectAll" resultType="string">
	select category_name
	from category
</select>


</mapper>