<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.project_01.model.product.dao.ProductDAO">
	<insert id="productRegister"
		parameterType="com.example.project_01.model.product.dto.ProductEntity"
		useGeneratedKeys="true" keyProperty="product_idx">
		insert into product
		(product_name,product_price,product_brand,product_category,
			product_contents,product_image,product_isdisplay) 
		values (#{product_name},#{product_price},#{product_brand},
			#{product_category},#{product_contents},#{product_image},
			#{product_isdisplay})
	</insert>
	
	<insert id="displayRegister" >
		insert into display
		(display_product, display_md) 
		values (#{product_idx}, #{md_idx})
	</insert>
	
	<select id="countProduct"  parameterType="com.example.project_01.model.search.dto.SearchDTO" 
		resultType="int">
		SELECT count(*)        
		FROM product
		JOIN brand AS b
		ON product_brand = brand_idx
		JOIN category AS c 
		ON product_category = category_idx
		where product_name like '${product_name}' and
			product_idx like '${product_idx}' and
			product_category like '${product_category}' and
			product_brand like '${product_brand}' and
			product_isDisplay like '${product_isDisplay}'
	</select>

	<select id="selectProduct"  parameterType="com.example.project_01.model.search.dto.SearchDTO"
		resultType="com.example.project_01.model.product.dto.ProductDTO">
		SELECT product_idx, product_name, product_price, 
			product_contents, product_image, product_isDisplay, 
			b.brand_name AS product_brand, c.category_name AS product_category
		FROM product
		JOIN brand AS b
		ON product_brand = brand_idx
		JOIN category AS c 
		ON product_category = category_idx
		where product_name like '${searchDto.product_name}' and
			product_idx like '${searchDto.product_idx}' and
			product_category like '${searchDto.product_category}' and
			product_brand like '${searchDto.product_brand}' and
			product_isDisplay like '${searchDto.product_isDisplay}'
		ORDER BY product_idx desc
		LIMIT #{start},#{length}
	</select>
	<insert id="insertStock">
		insert into stock
		(product_idx, size, count)
		values (#{product_idx}, #{size}, #{count})
	</insert>
	
	<delete id="deleteProduct" parameterType="map">
		delete from product
		<where>
		<foreach collection="array" item="idx" open="" close="" separator="OR">
			(product_idx = #{idx})
		</foreach>
		</where>
	</delete>
	<select id="selectOne" resultType="com.example.project_01.model.product.dto.ProductEntity">
		select * from product
		where product_idx=#{product_idx}
	</select>
	<update id="updateProduct" parameterType="com.example.project_01.model.product.dto.ProductEntity">
		update product
		set product_name = #{productEntity.product_name}, product_price = #{productEntity.product_price},
			product_brand = #{productEntity.product_brand}, product_category = #{productEntity.product_category},
			product_contents = #{productEntity.product_contents}, product_isDisplay = #{productEntity.product_isDisplay}
			<if test="productEntity.product_image != null">
				,product_image = #{productEntity.product_image}
    		</if>
			where product_idx = #{product_idx}
	</update>
</mapper>