<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project_01.model.product.qna.dao.QnaDAO">
	<insert id="insert" 
		parameterType="com.example.project_01.model.product.qna.dto.QnaDTO">
		insert into qna
		(qna_type, qna_title, qna_question, qna_secret, qna_member, qna_product)
		values 
			(#{qna_type},#{qna_title},#{qna_question},#{qna_secret},#{qna_member},#{qna_product})			
	</insert>
	<select id="selectQnaByProduct" 
		resultType="com.example.project_01.model.product.qna.dto.QnaDTO">
		SELECT @rownum:=@rownum-1 as rownum,q.*
		from qna AS q,
			(SELECT @rownum:=(SELECT COUNT(*) 
			FROM qna WHERE qna_product = #{qna_product})-#{start}+1) tmp
		where qna_product = #{qna_product}
		order by q.qna_idx desc
		limit #{start}, #{length}
	</select>
	<select id="countByProduct" resultType="int">
		select count(*) 
		from qna
		where qna_product = #{qna_product}
	</select>
	<select id="selectQna" resultType="com.example.project_01.model.product.qna.dto.QnaDTO"
		parameterType = "com.example.project_01.model.product.qna.dto.SearchQnaDTO">
		SELECT @rownum:=@rownum-1 as rownum, q.*
		from qna AS q,
			(SELECT @rownum:=(SELECT COUNT(*) 
			FROM qna )-#{start}+1) tmp
		order by q.qna_idx desc
		limit #{start}, #{length}
	</select>
	<select id="countQna" resultType="int" 
		parameterType="com.example.project_01.model.product.qna.dto.SearchQnaDTO">
		select count(*) 
		from qna
	</select>
	<select id="selectOne" parameterType="com.example.project_01.model.product.qna.dto.SearchQnaDTO"
		resultType="com.example.project_01.model.product.qna.dto.QnaDTO">
		SELECT * 
		from qna
		where qna_idx = #{qna_idx}
	</select>
	<update id="updateAnswer">
		update qna
		set qna_answer = #{qna_answer}
		where qna_idx = #{qna_idx}
	</update>
	<delete id="deleteOne">
		delete 
		from qna
		where qna_idx = #{qna_idx}
	</delete>
</mapper>