<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.example.project_01.model.stock.dao.StockDAO">

	<!-- 재고 등록 -->
	<insert id="insertStock">
		insert into stock
		(product_idx, size, count)
		values (#{product_idx}, #{size}, #{count})
	</insert>
	<!-- 특정 상품의 재고정보 select -->
	<select id="selectByProduct" resultType = "com.example.project_01.model.stock.dto.StockDTO">
		select size, count
		from stock
		where product_idx=#{product_idx}
	</select>
	<!-- 재고 추가 -->
	<update id="addStock">
		UPDATE stock AS a
		SET COUNT = 
			(SELECT c.COUNT FROM 
					(SELECT b.COUNT FROM stock AS b 
						WHERE b.product_idx = #{product_idx} AND b.size = #{size}) AS c) 
			+ #{add}
		WHERE a.product_idx = #{product_idx} AND a.size = #{size}
	</update>
	<!-- 재고 삭제 -->
	<delete id="deleteStock">
		delete from stock
		where product_idx=#{product_idx} and size=#{size}
	</delete>
	<!-- 특정 상품,사이즈의 재고 select -->
	<select id="getStock" resultType="int">
		select count from stock
		where product_idx=#{product_idx} and size=#{size}
	</select>
	<!-- 재고 수정 -->
	<update id="updateStock">
		update stock
		set count = #{count}
		where product_idx=#{product_idx} and size=#{size}
	</update>
</mapper>